{% comment %}
{% assign pageName = page.path | split: "/" %}
{% if pageName[1] %}
  {% assign pageName = pageName[1] | prepend: "/" | append: "/" | replace: ".md","" %}
{% else %}
  {% assign pageName = pageName[0] | prepend: "/" | append: "/" | replace: ".md","" %}
{% endif %}
{% endcomment %}

{% assign navigations = "" | split:"|" %}
{% for navbars_data in site.data.navbars %}
  {% assign nav = navbars_data[1] %}
  {% assign navigations = navigations | push: nav %}
  {% comment %}
  {% if pageName == nav.path %}
    {% assign this_pages_navbar = nav %}
    {% else %}
    {% assign not_this_page = nav %}
  {% endif %}
  {% endcomment %}
{% endfor %}
{% assign navbars = navigations | sort:"order" %}

{% assign title = page.name | replace: "-"," " | replace: "_"," " | split: ".md" | first %}
{% assign pageTitle = title | split: ' ' %}
{% capture pageTitleUpper %}{% for word in pageTitle %}{{ word | capitalize }} {% endfor %}{% endcapture %}
<div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="{{ site.main_url }}">Home</a>
  {% if pageTitleUpper != 'index.html' %}
    {% assign pagePath = page.path | remove: ".md" | prepend:"/" | prepend: site.baseurl | append:'/' %}
    {% for navbar in navbars %}
      {% for breadcrumb in navbar.section %}
        {% assign crumbs = breadcrumb.path | remove:'/index.html' | split: '/' %}
        {% comment %}
        {% assign crumbs = breadcrumb.path | split: '/' %}
        {% endcomment %}
        {% assign cur_path = breadcrumb.path | append:'/' %}

        {% if pagePath == cur_path %}
          {% for crumb in crumbs offset: 1 %}
            {% if site.baseurl == '/ido-specs' %}
              {% if forloop.last %}
                > {{ breadcrumb.title }}
              {% else %}
                {% assign new_index = forloop.index | plus: 2 %}
                {{ new_index }} | {{ forloop.index }}
                {% if new_index >= forloop.index %}
                > <a href="{% assign crumb_limit = forloop.index | plus: 2 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                {% endif %}
              {% endif %}
            {% else %}
            {% endif %}
          {% endfor %}
        {% endif %}
        
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% comment %}
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
  {% endcomment %}
</div>
